
.aside .wmiddle-left, .aside .wmiddle-right, .aside .wsbottom-left, .aside .wsbottom-right {background-color:#3C3C3C;}

.content {background-color:#4a4a4a;}

.menu-back, .content-top, .entry-header, #respond {background-color:#6f7074;}


